<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <!-- Correction du chemin CSS -->
    <link rel="stylesheet" href="{{ "/asset/css/style.css" | relative_url }}">

    {% include head-custom.html %}
  </head>
  <body>
    {% assign lang = page.lang | default: site.default_lang %}

    <div class="container">
      <header>
        <!-- Affichage du logo et du titre -->
        <div class="logo-container">
          <img src="{{ "/asset/Picture3.png" | relative_url }}" alt="Logo" class="logo">
          <div class="site-title">{{ site.title }}</div>
        </div>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <!-- Bouton pour changer de langue -->
        {% assign other_lang = "fr" %}
        {% assign lang_path = "/fr/" %}
        {% assign switch_text = "Passer au français" %}

        {% if lang == "fr" %}
          {% assign other_lang = "en" %}
          {% assign lang_path = "/en/" %}
          {% assign switch_text = "Switch to English" %}
        {% endif %}

        <p><a class="lang-switch" href="{{ lang_path | relative_url }}">{{ switch_text }}</a></p>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github
